---
interface Props {
  title: string;
  description: string;
  content: string;
}

const { title, description, content } = Astro.props;
---

<div class="content-container">
  <header class="content-header text-center text-zinc-700">
    <h1 set:html={title}></h1>
    <p set:html={description}></p>
  </header>
  <main class="content-body">
    <div set:html={content}></div>
  </main>
</div>
